body {
        background-image: url(../images/AI\ background.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: rgb(32, 31, 31);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    a {
        color: greens;
        text-decoration: none;
    }


    .center {
        text-align: center;  
        margin: 0 auto;   
    }
    
    .leftmenu {
        position: absolute; 
        top: 0;              
        left: 15px;           
        width: fit-content; 
        z-index: 1;         
        padding-right: 13px; 
    }
    
    .heading{
        text-align: center;
        margin: 0 auto;
        text-decoration: underline;
    }